$lightGrey: #ECECEC;
$grey: #E5E5E5;
$darkGrey: #252525;
$white: #FFFFFF;
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;

body p, h2, a, h1 {
    font-family: 'Roboto', sans-serif;
    color: black;
}

a {
    text-decoration: none;
}

.menu--police {
    font-family: 'Shrikhand', cursive;
}

.logo img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
}

.localisation {
    margin: none;
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: $darkGrey;
    background-color: $grey;
    box-shadow: inset 0 0 0.3em #C5C5C5;
    p {
        color: $darkGrey;
        font-weight: 500;
        margin-left: 0.8rem;
    }

}

.introduction {
    background-color: $lightGrey;
    text-align: center;
    margin:none;
    padding-top: 0.5rem;
    padding-bottom: 1.8rem;
    h1{
        font-size: 1.6rem;
        margin: 2rem 2.2rem 0rem 2.2rem;
    }
    p {
        font-weight: 300;
        font-size: 1.3rem;
        color: $darkGrey;
    }
    .bouton-explorer {
        background: linear-gradient(to bottom right, $secondary, $primary);
        border: none;
        padding: 1rem 1.4rem 1rem 1.4rem;
        font-size: 1.1rem;
        color: $white;
        font-weight: 300;
        border-radius: 35px;
    }
}

.fonctionnement {
    margin-left: 1rem;
    .fonctionnement__consigne {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .fonctionnement__chiffre p {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: -1.5rem 0rem 0rem -0.7rem;
            border-radius:50%;
            width:10px;
            height:10px;
            padding: 0.4rem;
            color: $white;
            background-color: $primary;
        }
        .fonctionnement__case {
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: $lightGrey;
            padding: 0.6rem 1.6rem 0.6rem 1.6rem;
            border-radius: 20px;
            width: 65%;
            margin: 0rem 0rem 2rem 0rem;
            p {
                margin-left: 1.3rem;
                font-weight: 500;
                font-size: 1rem;
            }
            i {
                color: $darkGrey;
                font-size: 1.3rem;
                margin-left: 1rem;
            }
        }
    }
}

.restaurants {
    background-color: $lightGrey;
    padding: 2rem 1rem 2rem 1rem;
    .restaurants__menu {
        width: 80%;
        background-color: $white;
        border-radius: 20px;
        margin: 0rem 2rem 2rem 2rem;
        height: 270px;
        .restaurants__image {
            width: 100%;
            height: 70%;
            text-align: center; 
            overflow: hidden; 
            border-radius: 15px 15px 0px 0px;
            img {
                width: 100%;
            }
        }
        .restaurants__nouveau p {
            position: relative;
            padding: 0.7rem 1rem 0.7rem 1rem;
            background-color: $tertiary;
            color: #27A341;
            width: 60px;
            height: 10px;
            display:flex;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            border-radius: 3px;
            margin: -170px 0px 0px 240px;
        }
        .restaurants__texte {    
            margin: 133px 0px 0px 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            p {
                margin-top: -0.7rem;
            }
            i {
                margin: 1.5rem 1.5rem 0rem 0rem;
                font-size: 1.6rem;
            }
        }
    }

}