$lightGrey: #ECECEC;
$grey: #E5E5E5;
$shadows:#DADADA;
$darkGrey: #252525;
$white: #FFFFFF;
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;

body p, h2, a, h1 {
    font-family: 'Roboto', sans-serif;
    color: black;
}

body {
    margin: 0;
}

.menu--police, .basdepage {
    font-family: 'Shrikhand', cursive;
}

a {
    text-decoration: none;
}

.basdepage {
    font-weight: 400;
}

.logo {
    display: flex;
    justify-content: center;
    margin: 1rem 0rem 1rem 0rem;
    text-align: center;
    img {
        width: 10rem;
    }
}

.localisation {
    width: 100%;
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: $darkGrey;
    background-color: $grey;
    box-shadow: inset 0 0 0.3em #C5C5C5;
    p {
        color: $darkGrey;
        font-weight: 500;
        padding-left: 0.8rem;
    }
}

.introduction {
    background-color: $lightGrey;
    text-align: center;
    padding : 0.5rem 0 2.2rem 0rem;
    h1{
        font-size: 1.6rem;
        padding: 0.7rem 2.2rem 0rem 2.2rem;
    }
    p {
        font-weight: 300;
        font-size: 1.3rem;
        color: $darkGrey;
        padding: 0rem 1rem 0.7rem 1rem;
    }
    .bouton-explorer {
        background: linear-gradient(to bottom right, $secondary, $primary);
        border: none;
        padding: 1rem 1.4rem 1rem 1.4rem;
        font-size: 1.1rem;
        color: $white;
        font-weight: 300;
        border-radius: 35px;
        box-shadow: 0px 8px 0.7em #C9C9C9;
    }
}

.fonctionnement {
    margin-left: 1rem;
    .fonctionnement__consigne {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .fonctionnement__chiffre p {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: -1.5rem 0rem 0rem -0.7rem;
            border-radius:50%;
            width:10px;
            height:10px;
            padding: 0.4rem;
            color: $white;
            background-color: $primary;
        }
        .fonctionnement__case {
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: $lightGrey;
            padding: 0.6rem 1.6rem 0.6rem 1.6rem;
            border-radius: 20px;
            width: 65%;
            margin: 0rem 0rem 2rem 0rem;
            box-shadow: 0px 3px 0.7em $shadows;
            p {
                padding-left: 1.3rem;
                font-weight: 500;
                font-size: 1rem;
            }
            i {
                color: $darkGrey;
                font-size: 1.3rem;
                padding-left: 1rem;
            }
        }
    }
}

.restaurants {
    position: relative;
    background-color: $lightGrey;
    padding: 2rem 1rem 2rem 1rem;
    .restaurants__menu {
        width: 85%;
        background-color: $white;
        border-radius: 20px;
        margin: 2rem 2rem 2rem 2rem;
        height: 270px;
        box-shadow: 0px 8px 0.7em $shadows;
        .restaurants__image {
            position: relative;
            width: 100%;
            height: 70%;
            text-align: center; 
            overflow: hidden; 
            border-radius: 15px 15px 0px 0px;
            img {
                width: 100%;
                margin-top: -2.5rem;
            }
        }
        .restaurants__nouveau p {
            z-index: 1;
            position: absolute;
            padding: 0.7rem 1rem 0.7rem 1rem;
            background-color: $tertiary;
            color: #27A341;
            width: 60px;
            height: 10px;
            display:flex;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            border-radius: 3px;
            margin: -170px 0px 0px 270px;
        }
        .restaurants__texte {    
            margin: 0px 0px 0px 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            p {
                margin-top: -0.7rem;
            }
            i {
                margin: 1.5rem 1.5rem 0rem 0rem;
                font-size: 1.6rem;
            }
        }
    }
}

footer {
    padding: 0.5rem 0rem 1rem 2rem;
    background-color: $darkGrey; 
    h2, a {
        color: $white
    }
    li {
        list-style-type: none;
        list-style-position: inside;
        margin-left: -2rem;
        padding-bottom: 0.5rem;
    }
    .part2 {
        margin-top: -1rem;
    }
    .fas {
        margin-right: 0.4rem;
    }
}

//menu-1

.index {
    display: flex;
    align-items: center;

}