body p, h2, a, h1 {
  font-family: "Roboto", sans-serif;
  color: black;
}

body {
  margin: 0;
  width: 100%;
}

.menu--police, .basdepage {
  font-family: "Shrikhand", cursive;
}

a {
  text-decoration: none;
}

.basdepage {
  font-weight: 400;
}

.logo {
  display: flex;
  justify-content: center;
  margin: 1rem 0rem 1rem 0rem;
  text-align: center;
}
.logo img {
  width: 10rem;
}

.localisation {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #252525;
  background-color: #E5E5E5;
  box-shadow: inset 5px 12px 5px -10px #C5C5C5;
}
.localisation p {
  color: #252525;
  font-weight: 500;
  padding-left: 0.8rem;
}

.introduction {
  background-color: #ECECEC;
  text-align: center;
  padding: 0.5rem 0 2.2rem 0rem;
}
.introduction h1 {
  font-size: 1.6rem;
  padding: 0.7rem 2.2rem 0rem 2.2rem;
}
.introduction p {
  font-weight: 300;
  font-size: 1.2rem;
  color: #252525;
  padding: 0rem 1rem 0.7rem 1rem;
}
.introduction .bouton-explorer {
  padding: 1rem 1.4rem 1rem 1.4rem;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: none;
  font-size: 1.1rem;
  color: #FFFFFF;
  font-weight: 300;
  border-radius: 35px;
  box-shadow: 0px 8px 0.7em #C9C9C9;
}

.fonctionnement {
  margin: 0rem 1rem 0rem 1rem;
}
.fonctionnement .fonctionnement__consigne {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.fonctionnement .fonctionnement__consigne .fonctionnement__chiffre p {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -1.5rem 0rem 0rem -0.7rem;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  padding: 0.4rem;
  color: #FFFFFF;
  background-color: #9356DC;
}
.fonctionnement .fonctionnement__consigne .fonctionnement__case {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ECECEC;
  padding: 0.6rem 1.6rem 0.6rem 1.6rem;
  border-radius: 20px;
  width: 75%;
  margin: 0rem 0rem 2rem 0rem;
  box-shadow: 0px 3px 0.7em #DADADA;
}
.fonctionnement .fonctionnement__consigne .fonctionnement__case p {
  padding-left: 1.2rem;
  font-weight: 500;
  font-size: 1rem;
}
.fonctionnement .fonctionnement__consigne .fonctionnement__case i {
  color: #252525;
  font-size: 1.3rem;
  padding-left: 1rem;
}

.restaurants {
  background-color: #ECECEC;
  padding: 2rem 1rem 2rem 1rem;
  margin: 0;
}
.restaurants .restaurants__menu {
  width: 85%;
  background-color: #FFFFFF;
  border-radius: 20px;
  margin: 2rem 2rem 2rem 1.5rem;
  height: 270px;
  box-shadow: 0px 8px 0.7em #DADADA;
}
.restaurants .restaurants__menu .restaurants__image {
  position: relative;
  width: 100%;
  height: 70%;
  text-align: center;
  overflow: hidden;
  border-radius: 15px 15px 0px 0px;
}
.restaurants .restaurants__menu .restaurants__image img {
  width: 110%;
  height: auto;
}
.restaurants .restaurants__menu .restaurants__nouveau p {
  z-index: 1;
  position: absolute;
  padding: 0.7rem 1rem 0.7rem 1rem;
  background-color: #99E2D0;
  color: #27A341;
  width: 60px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border-radius: 3px;
  margin: -170px 0px 0px 175px;
}
.restaurants .restaurants__menu .restaurants__texte {
  margin: 0px 0px 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurants .restaurants__menu .restaurants__texte p {
  margin-top: -0.7rem;
}
.restaurants .restaurants__menu .restaurants__texte i {
  margin: 1.5rem 1.5rem 0rem 0rem;
  font-size: 1.6rem;
}

footer {
  padding: 0.5rem 0rem 1rem 2rem;
  background-color: #252525;
}
footer h2, footer a {
  color: #FFFFFF;
}
footer li {
  list-style-type: none;
  list-style-position: inside;
  margin-left: -2rem;
  padding-bottom: 0.5rem;
}
footer .part2 {
  margin-top: -1rem;
}
footer .fas {
  margin-right: 0.4rem;
}

.haut__menu {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
.haut__menu .fas {
  margin-left: -5rem;
  color: #252525;
  font-size: 1.2rem;
}

.menu__image img {
  width: 100%;
}

.menu {
  position: relative;
  background-color: #ECECEC;
  padding: 0.5rem 1rem 0rem 1rem;
  border-radius: 35px 35px 0px 0px;
  margin-top: -3rem;
  box-shadow: 0px -8px 3em 0.1em #292929;
}
.menu .menu__titre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 0rem 0rem 0rem;
}
.menu .menu__titre .menu--police, .menu .menu__titre .far {
  font-size: 1.8rem;
  font-weight: 500;
}
.menu .menu__part {
  margin: 0rem 0rem 2rem 0rem;
}
.menu .menu__part .menu__cat {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.2rem;
  padding: 1rem 0rem 0.3rem 0rem;
  border-bottom: 3px solid #99E2D0;
  width: 3rem;
}
.menu .menu__part .menu__encart a {
  width: 94%;
  height: 55px;
  background-color: #FFFFFF;
  border-radius: 15px;
  margin-bottom: 1rem;
  box-shadow: 0px 8px 0.7em #DADADA;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
}
.menu .menu__part .menu__description p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 265px;
  margin-top: -1rem;
}
.menu .menu__part .menu__description p .menu__plat h3 {
  font-weight: 700;
  margin-bottom: 5rem;
}
.menu .menu__part .menu__prix p {
  margin-top: 3rem;
  font-weight: 700;
}
.menu .bouton-commander {
  padding: 1rem 3rem 1rem 3rem;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: none;
  font-size: 1.1rem;
  color: #FFFFFF;
  font-weight: 300;
  border-radius: 35px;
  box-shadow: 0px 8px 0.7em #C9C9C9;
  margin: 2rem 0rem 4rem 5rem;
}

@media all and (min-device-width: 768px) and (max-width: 1023px) {
  .fonctionnement {
    margin-top: 2rem;
  }
  .fonctionnement h2 {
    text-align: center;
  }
  .fonctionnement .fonctionnement__consigne .fonctionnement__case {
    width: 40%;
  }

  .restaurants h2 {
    text-align: center;
  }
  .restaurants .restaurants__menu {
    margin-left: 3.5rem;
  }
  .restaurants .restaurants__menu .restaurants__nouveau p {
    margin-left: 32rem;
  }

  .haut__menu .fas {
    margin-left: -15rem;
  }

  .menu__image img {
    width: 70%;
    text-align: center;
    border-radius: 35px;
    margin: 3rem 7rem 0rem 7rem;
  }

  .menu {
    width: 64.9%;
    border-radius: 0px 0px 30px 30px;
    margin: -4rem 7rem 4rem 7rem;
    box-shadow: none;
    padding-left: 1.5rem;
  }
  .menu .bouton-commander {
    margin: 2rem 0rem 4rem 9.5rem;
  }
}
@media all and (min-device-width: 768px) and (max-width: 1023px), all and (min-width: 1024px) {
  footer {
    padding: 1rem 3rem 1rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  footer .basdepage__liste {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0rem 0rem 0rem 4rem;
  }
  footer .basdepage__liste ul {
    padding-right: 4rem;
  }
  footer .basdepage__liste .part2 {
    padding-top: 2rem;
  }
}
@media all and (min-width: 1024px) {
  .hautpage {
    display: flex;
    flex-direction: row;
  }
  .hautpage .intro {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 400px;
    background-color: #ECECEC;
  }
  .hautpage .intro .localisation {
    background-color: #ECECEC;
  }
  .hautpage .intro .introduction {
    background-color: #ECECEC;
    margin-top: 2rem;
  }
  .hautpage .fonctionnement {
    box-shadow: inset 5px 12px 5px -10px black;
    background-color: #252525;
    width: 50%;
    height: 400px;
    margin: 0;
  }
  .hautpage .fonctionnement h2 {
    margin-left: 8rem;
    color: #FFFFFF;
    margin-top: 2rem;
  }
  .hautpage .fonctionnement .fonctionnement__case {
    background-color: #DADADA;
    box-shadow: 0px 3px 0.3em black;
    width: 55%;
  }

  .restaurants {
    background-color: #FFFFFF;
    margin-bottom: 3rem;
  }
  .restaurants h2 {
    margin-left: 2rem;
  }
  .restaurants .restaurants__carte {
    display: flex;
    flex-direction: row;
  }
  .restaurants .restaurants__carte .restaurants__menu {
    width: 300px;
  }
  .restaurants .restaurants__carte .restaurants__menu .restaurants__nouveau p {
    margin: -170px 0px 0px 140px;
  }

  .haut__menu .fas {
    margin-left: -30rem;
  }

  .menu__image img {
    width: 40%;
    text-align: center;
    border-radius: 35px;
    margin: 3rem 23rem 0rem 23rem;
  }

  .menu {
    width: 37.5%;
    border-radius: 0px 0px 30px 30px;
    margin: -4rem 23rem 4rem 23rem;
    box-shadow: none;
  }
  .menu .bouton-commander {
    margin: 2rem 0rem 4rem 9rem;
  }
}

/*# sourceMappingURL=style.css.map */
