body p, h2, a, h1 {
  font-family: "Roboto", sans-serif;
  color: black;
}

body {
  margin: 0;
}

.menu--police, .basdepage {
  font-family: "Shrikhand", cursive;
}

a {
  text-decoration: none;
}

.basdepage {
  font-weight: 400;
}

.logo {
  display: flex;
  justify-content: center;
  margin: 1rem 0rem 1rem 0rem;
  text-align: center;
}
.logo img {
  width: 10rem;
}

.localisation {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #252525;
  background-color: #E5E5E5;
  box-shadow: inset 0 0 0.3em #C5C5C5;
}
.localisation p {
  color: #252525;
  font-weight: 500;
  padding-left: 0.8rem;
}

.introduction {
  background-color: #ECECEC;
  text-align: center;
  padding: 0.5rem 0 2.2rem 0rem;
}
.introduction h1 {
  font-size: 1.6rem;
  padding: 0.7rem 2.2rem 0rem 2.2rem;
}
.introduction p {
  font-weight: 300;
  font-size: 1.3rem;
  color: #252525;
  padding: 0rem 1rem 0.7rem 1rem;
}
.introduction .bouton-explorer {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: none;
  padding: 1rem 1.4rem 1rem 1.4rem;
  font-size: 1.1rem;
  color: #FFFFFF;
  font-weight: 300;
  border-radius: 35px;
  box-shadow: 0px 8px 0.7em #C9C9C9;
}

.fonctionnement {
  margin-left: 1rem;
}
.fonctionnement .fonctionnement__consigne {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.fonctionnement .fonctionnement__consigne .fonctionnement__chiffre p {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -1.5rem 0rem 0rem -0.7rem;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  padding: 0.4rem;
  color: #FFFFFF;
  background-color: #9356DC;
}
.fonctionnement .fonctionnement__consigne .fonctionnement__case {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ECECEC;
  padding: 0.6rem 1.6rem 0.6rem 1.6rem;
  border-radius: 20px;
  width: 65%;
  margin: 0rem 0rem 2rem 0rem;
  box-shadow: 0px 3px 0.7em #DADADA;
}
.fonctionnement .fonctionnement__consigne .fonctionnement__case p {
  padding-left: 1.3rem;
  font-weight: 500;
  font-size: 1rem;
}
.fonctionnement .fonctionnement__consigne .fonctionnement__case i {
  color: #252525;
  font-size: 1.3rem;
  padding-left: 1rem;
}

.restaurants {
  position: relative;
  background-color: #ECECEC;
  padding: 2rem 1rem 2rem 1rem;
}
.restaurants .restaurants__menu {
  width: 85%;
  background-color: #FFFFFF;
  border-radius: 20px;
  margin: 2rem 2rem 2rem 2rem;
  height: 270px;
  box-shadow: 0px 8px 0.7em #DADADA;
}
.restaurants .restaurants__menu .restaurants__image {
  position: relative;
  width: 100%;
  height: 70%;
  text-align: center;
  overflow: hidden;
  border-radius: 15px 15px 0px 0px;
}
.restaurants .restaurants__menu .restaurants__image img {
  width: 100%;
  margin-top: -2.5rem;
}
.restaurants .restaurants__menu .restaurants__nouveau p {
  z-index: 1;
  position: absolute;
  padding: 0.7rem 1rem 0.7rem 1rem;
  background-color: #99E2D0;
  color: #27A341;
  width: 60px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border-radius: 3px;
  margin: -170px 0px 0px 270px;
}
.restaurants .restaurants__menu .restaurants__texte {
  margin: 0px 0px 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurants .restaurants__menu .restaurants__texte p {
  margin-top: -0.7rem;
}
.restaurants .restaurants__menu .restaurants__texte i {
  margin: 1.5rem 1.5rem 0rem 0rem;
  font-size: 1.6rem;
}

footer {
  padding: 0.5rem 0rem 1rem 2rem;
  background-color: #252525;
}
footer h2, footer a {
  color: #FFFFFF;
}
footer li {
  list-style-type: none;
  list-style-position: inside;
  margin-left: -2rem;
  padding-bottom: 0.5rem;
}
footer .part2 {
  margin-top: -1rem;
}
footer .fas {
  margin-right: 0.4rem;
}

.index {
  display: flex;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
